{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Auto broker site administration' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Site Administration' %}</h1>
{% endblock %}

{% block userlinks %}
    <a href="/admin/settings/">{% trans 'Settings' %}</a> |
    {% url admin:password_change as password_change_url %}
    {% if password_change_url %}
        <a href="{{ password_change_url }}">
    {% else %}
         <a href="{{ root_path }}password_change/">
    {% endif %}
    {% trans 'Change password' %}</a> /
    {% url admin:logout as logout_url %}
    {% if logout_url %}
         <a href="{{ logout_url }}">
    {% else %}
         <a href="{{ root_path }}logout/">
    {% endif %}
    {% trans 'Log out' %}</a>
{% endblock %}

{% block nav-global %}{% endblock %}

